{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
        <h5 align="center">Каталог товаров</h5>   
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/catalog">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{current_genre.name}}</li>
          </ol>
        </nav>

        <div class="row row-cols-1 row-cols-md-5 g-2 text-center">
          {% for obj in book_filter %}
          {% include "home_page/book_card.html" with book=obj %}             
          {% endfor %}  
        </div>
{% endblock body %}  