{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Просмотр товара
{% endblock title %}
{% block body %}
    <h1>Просмотр товара</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img style="max-width: 100%;" src="{{ object.book_cover_photo.url }}" />
            </div>
            <div class="col-8">
              <h2>{{ object.book_title }}</h2>  
              <div>
                Жанры : {% for genre in object.book_genre.all %} <a href="{% url 'catalog:catalogs' pk=genre.pk %}">{{ genre.name }}</a> {% endfor %}
              </div>          
              <div>
                Авторы: {% for author in object.book_author.values_list %}{{author.1}}  {% endfor %}
              </div>
              <div>
                Издательство: {{object.book_publisher}} 
              </div>
              <div>
                Серия: {{object.book_series}} 
              </div>
              <div>
                Цена: {{object.book_price}} руб. 
              </div>
              <div>
                Год изднания: {{object.book_year}} 
              </div>
              <div>
                Колличество страниц: {{object.book_page}} 
              </div>
              <div>
                Переплет: {{object.book_cover}} 
              </div>
              <div>
                Формат: {{object.book_format}} 
              </div>
              <div>
                ISBN: {{object.book_isbn}} 
              </div>
              <div>
                Вес: {{object.book_weight}} гр.
              </div>
              <div>
                Возрастные ограничения: {{object.book_age}}
              </div>
              <div>
                Рейтинг: {{object.average_rating|default_if_none:"Оценки отсутствуют"}}
              </div>
              <div>{% for group in request.user.groups.all %}{% if group.name == 'Customers' %}
                <form action='{% url 'orders:show-cart' %}' method="post">
                  {% csrf_token %}
                  <input type="number" name="quantity" id="" value="1" step="1" min="1"  width="min"><br>
                  <input type="hidden" name="book_pk" value={{book.pk}}>
                  <button type="submit" class="btn btn-primary mt-auto">Добавить в корзину</button>
                </form>
              </div>{% endif %}{% endfor %}
              {% if user.is_authenticated != True %}
                <div>
                  <form action='{% url 'orders:show-cart' %}' method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" id="" value="1" step="1" min="1"  width="min"><br>
                    <input type="hidden" name="book_pk" value={{book.pk}}>
                    <button type="submit" class="btn btn-primary mt-auto">Добавить в корзину</button>
                  </form>
                </div>{% else %}
                <div><br>
                  <a href="{% url 'book:book-comment' pk=book.pk %}">Добавить комментарий</a>
                </div>{% endif %}
            </div>
          </div>
    </div>
    <br>
    <h3>Отзывы на товар</h3>
    {% for com in object.b_comments.all%}
      <table class="table table-bordered">
        <tr>
          <td>
            {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile-detail' pk=com.customer.profile.pk %}">{{com.customer}}</a> {{com.updated_date}}<br>
            {% else %}
            <b>{{com.customer}}</b> {{com.updated_date}}<br>
            {% endif %}
            Оценка: {{com.rating}}<br>
            Комментарий: {{com.comment}}<br>
            {% if request.user.username == com.customer.username%}
            <a href="{% url 'book:book-comment-update' pk=com.pk %}">Изменить</a>  |  
            <a href="{% url 'book:book-comment-delete' pk=com.pk %}">Удалить</a>
            {% endif %}
          </td>
        </tr>
      </table>
    {% endfor %}    
{% endblock body %}