{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
<h1 align="center">Поиск комментариев</h1>   
    <table class="table table-bordered">
    {% for obj in search_c %}
    <tr>          
      <td><a href="{% url 'book:book-detail' pk=obj.pk %}">{{obj.book}}</a></td>            
      <td>{{obj.comment}}</td>
      <td>{{obj.rating}}</td> 
      <td>{{obj.updated_date}}</td>
      <td>{{obj.customer}}</td>

      <!-- <td><a href="{% url 'orders:order-delete' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-x-lg"></a></td>
      <td><a href="{% url 'orders:com-update' pk=obj.pk %}" class="btn btn-success"><i class="bi bi-plus-lg"></i></a></td> -->
  </tr>   
    {% endfor %}  
  </table>
  <a href="{% url 'book:book-comment-list' %}">Вернуться к списку комментариев</a>     
{% endblock body %}