{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Список жанров
{% endblock title %}
{% block body %}
    <h1>Список зарегистрированных пользователей</h1>
    <table class="table table-bordered">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Телефонный номер</strong></td>
            <td><div class="btn-group">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>Группа</strong>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'accounts:all-customers' %}">Customers</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:all-managers' %}">Managers</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:all-profiles' %}">All</a></li>
                </ul>
              </div>
            </td>
        </tr>
        {% for obj in customers %}
        <tr>
            <td><a href="{% url 'accounts:profile-update' pk=obj.user.pk %}">{{obj.user.username}}</a></td>
            <td>{{obj.user.email}}</td>
            <td>{{obj.phone_number}}</td>
            <td>{% for group in obj.user.groups.all %}{{group.name}}{% endfor %}</td>
        </tr>
        {% endfor %}  
    </table>
{% endblock body %}