{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
   <h2 align="center">Контакты</h2>   
      <h5>Телефоны</h5>
      <p>8 (017) 399-73-80<br>
         8 (017) 396-47-72<br>
         8 (029) 606-85-85</p>
      <h5>E-mail</h5>
      <a href="mailto:office@chtetz.by">office@chtetz.by</a><br>
      <a href="mailto:torgotdel@chtetz.by">torgotdel@chtetz.by</a><br>
      <a href="mailto:bkmag_5@chtetz.by">bkmag_5@chtetz.by</a><br>
      <h5>Режим работы</h5>
      <p>Понедельник - пятница: 8:30-20:30<br>
         Суббота - воскресенье: 8:30-18:30</p>
      <h5>Руководство ОАО «Чтец»</h5>
      <p>Генеральный директор: Матусевич Владимир Владимирович<br>
         +375 (17) 394-89-45<br>
         E-mail <a href="mailto:matusevich@chtetz.by">matusevich@chtetz.by</a></p>
      <p>Первый заместитель генерального директора: Силинский Геннадий Анатольевич<br>
         +375 (17) 394-89-59<br>
         E-mail <a href="mailto:silinsky@chtetz.by">silinsky@chtetz.by</a></p>      
{% endblock body %}        