{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
        <h2 align="center">Доставка</h2>   
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Доставка</li>
          </ol>
        </nav>
        <h3>
          Бесконтактная доставка </h3>
          <p>
             Чтобы воспользоваться данной услугой необходимо:
          </p>
          <p>
             1. При оформлении заказа на сайте выбрать оплату в системе ЕРИП , в&nbsp;комментариях покупателя написать - Бесконтактная доставка.
          </p>
          <p>
             2. Наш менеджер с Вами свяжется для уточнения времени доставки. После выставит счет для оплаты в системе ЕРИП.
          </p>
          <p>
             3. Оплачиваете заказ и ждете курьера!
          </p>
          <h3>
          Курьером по Минску </h3>
          <p>
             Доставка осуществляется с 16.00 до 20.00<br>
             Доставка курьером по Минску осуществляется в пределах МКАД. Доставка курьером по Минску осуществляется для заказов стоимостью свыше 20 рублей. Для заказов стоимостью свыше 70 рублей доставка курьером осуществляется бесплатно. Для заказов стоимостью от 20 до 70 рублей стоимость доставки курьером 5 рублей.&nbsp;
          </p>
          <p>
             Форма оплаты - наличный расчет или через систему ЕРИП. Указание точного адреса доставки и контактного телефона обязательно. Перед тем, как доставить заказ, курьер обязан предварительно созвониться с Вами для уточнения времени доставки. Доставка курьером по Минску осуществляется в пределах МКАД.&nbsp; Доставка курьером по Минску осуществляется для заказов стоимостью свыше 20 рублей.&nbsp;
          </p>
          <p>
             Для заказов стоимостью свыше 70 рублей доставка курьером осуществляется бесплатно. Для заказов стоимостью от 20 до 70 рублей стоимость доставки курьером 5 рублей. Форма оплаты - наличный расчет или через систему ЕРИП. Указание точного адреса доставки и контактного телефона обязательно. Перед тем, как доставить заказ, курьер обязан предварительно созвониться с Вами для уточнения времени доставки.
          </p>
          <p>
          </p>
          <h3>Почтой по Республике Беларусь&nbsp;</h3>
          <p>
             После получения Вашего заказа с Вами свяжется&nbsp;представитель интернет-магазина, а затем на электронный ящик, указанный в заказе, будет выслана счет-фактура на оплату. Оплата по счет-фактуре производится в ближайшем отделении банка, с помощью системы&nbsp;интернет-банкинга либо в почтовом отделении.&nbsp;
          </p>
          <p>
             Сумма оплаты включает: стоимость заказанных вами товаров + стоимость упаковочного и стоимость обработки заказа 1 рубль 62 копейки с НДС + стоимость пересылки согласно тарифам &nbsp;<a rel="nofollow" href="http://www.belpost.by/" target="_blank" title="Ссылка: http://www.belpost.by/">РУП «Белпочта»</a>&nbsp;(в зависимости от веса товара) от 3,00 рублей.
          </p>
          <p>
             Срок оплаты счёт-фактур - 10 банковских дней с момента выставления счёта. После этого срока неоплаченный заказ будет аннулирован (для продления срока оплаты необходимо обратиться в интернет-магазин).
          </p>
          <p>
             Заказ высылается почтой на Ваш&nbsp;адрес после того, как мы получим подтверждение его оплаты. Оплата от физических лиц поступает на расчетный счет магазина в течение 2-3 рабочих дней.
          </p>
          <h3>Самовывоз&nbsp;</h3>
          <p>
             После комплектации заказа Вам надо будет самостоятельно забрать его в течение 10&nbsp;дней в любом из&nbsp;<a href="https://belkniga.by/contacts/stores/">магазинов сети Чтец.</a><br>
           <br>
             Мы сообщим Вам о наличии заказа в пункте выдачи с помощью электронной почты,SMS или телефона. Услуга бесплатная.&nbsp;<br>
           <br>
             Форма оплаты – наличный и безналичный расчет, по пластиковым карточкам или в системе ЕРИП.
          </p>
{% endblock body %}        