{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
        <h2 align="center">Оплата</h2>   
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Оплата</li>
          </ol>
        </nav>
        <h3>
         Бесконтактная доставка </h3>
         <p>
             Чтобы воспользоваться данной услугой необходимо:
         </p>
         <p>
             1. При оформлении заказа на сайте выбрать оплату в системе ЕРИП , в&nbsp;комментариях покупателя написать - Бесконтактная доставка.
         </p>
         <p>
             2. Наш менеджер с Вами свяжется для уточнения времени доставки. После выставит счет для оплаты в системе ЕРИП.
         </p>
         <p>
             3. Оплачиваете заказ и ждете курьера!
         </p>
         <h3>
         Курьером по Минску </h3>
         <p>
             Доставка осуществляется с 12.00 до 20.00<br>
             Доставка курьером по Минску осуществляется в пределах МКАД. Доставка курьером по Минску осуществляется для заказов стоимостью свыше 20 рублей. Для заказов стоимостью свыше 70 рублей доставка курьером осуществляется бесплатно. Для заказов стоимостью от 20 до 70 рублей стоимость доставки курьером 5 рублей.&nbsp;
         </p>
         <p>
             Форма оплаты - наличный расчет или через систему ЕРИП. Указание точного адреса доставки и контактного телефона обязательно. Перед тем, как доставить заказ, курьер обязан предварительно созвониться с Вами для уточнения времени доставки. Доставка курьером по Минску осуществляется в пределах МКАД.&nbsp; Доставка курьером по Минску осуществляется для заказов стоимостью свыше 15 рублей.&nbsp;
         </p>
         <p>
             Для заказов стоимостью свыше 25 рублей доставка курьером осуществляется бесплатно. Для заказов стоимостью от 15 до 25 рублей стоимость доставки курьером 5 рублей. Форма оплаты - наличный расчет или через систему ЕРИП. Указание точного адреса доставки и контактного телефона обязательно. Перед тем, как доставить заказ, курьер обязан предварительно созвониться с Вами для уточнения времени доставки.
         </p>
         <p>
         </p>
         <h3>Наличный расчет</h3>
         <p>
             Вы расплачиваетесь наличными деньгами в момент получения заказа, после проверки комплектности и качества товара. Эта форма оплаты используется для доставки курьером и в случае самовывоза.
         </p>
         <h3>Почтовый перевод</h3>
         <p>
             После получения вашего заказа на электронный ящик, указанный в заказе, будет выслана счет-фактура на оплату.&nbsp;Оплата по счет-фактуре производится в ближайшем отделении банка, с помощью системы&nbsp;интернет-банкинга, либо в почтовом отделении.&nbsp;<br>
          <br>
             Сумма оплаты включает: стоимость заказанных вами товаров + стоимость упаковки и обработки заказа 1рубль 62 копейки с НДС + стоимость пересылки согласно тарифам &nbsp;<a rel="nofollow" href="https://www.belpost.by/" target="_blank" title="Ссылка: http://www.belpost.by/">РУП «Белпочта»</a>&nbsp;(в зависимости от веса товара).&nbsp;<br>
          <br>
             Срок оплаты счёт-фактур - 10 банковских дней с момента выставления счёта. После этого срока неоплаченный заказ будет аннулирован (для продления срока оплаты необходимо обратиться в интернет-магазин).
         </p>
         <p>
             Заказ высылается почтой на Ваш адрес после того, как мы получим подтверждение его оплаты. Оплата от физических лиц поступает на расчетный счет магазина в течение 2-3 рабочих дней.
         </p>
         <h3>Банковская карта</h3>
         <p>
             Банковской пластиковой картой Вы можете оплатить свой заказ при самовывозе товара и при доставке курьером.
         </p>
         <h3>
         ЕРИП </h3>
         <p>
             Оплату Вы можете произвести в любом банке: интернет-банкинге, мобильном банкинге, инфокиоске, банкомате, кассе и т.д. Совершить оплату можно с использованием наличных денежных средств, любых электронных денег, банковских платежных карточек.
         </p>
         <h6>
         ДЛЯ ПРОВЕДЕНИЯ ПЛАТЕЖА НЕОБХОДИМО:</h6>
         <ol>
            <li>Выбрать последовательно пункты:</li>
            <ul>
               <li>Система "Расчет" (ЕРИП)</li>
               <li>Интернет-магазины/сервисы</li>
               <li>A-Z Латинские домены</li>
               <li>M</li>
               <li>Magazin.chtetz.by</li>
            </ul>
            <li>Для оплаты "Товара" ввести Номер заказа.</li>
            <li>Ввести сумму платежа (если не указана).</li>
            <li>Проверить корректность информации</li>
            <li>Совершить платеж.</li>
         </ol>
         <p>
             Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения платежа через систему ”Расчет“ (ЕРИП).
         </p>
         <p>
             Техническое взаимодействие с системой "Расчет" (ЕРИП) осуществляется с помощью сервиса «Экспресс Платежи» (<a rel="nofollow" href="https://express-pay.by/)">https://express-pay.by/)</a>.
         </p>
{% endblock body %}        