{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}
{% block body %}
<h1>Корзина</h1>
<table class="table">
    <tr>
        <td>Наименование товара</td>
        <td>Количество</td>
        <td>Цена, бел.руб.</td>
        <td>Стоимость за все позиции, бел.руб.</td>
        <td>Удаление позиций</td>
    </tr>
{% for book_in_cart in cart.books.all %}
    <tr>
        <td>{{book_in_cart.book.book_title}}</td>
        <td>{{book_in_cart.quantity}}</td>
        <td>{{book_in_cart.book.book_price}}</td>
        <td>{{book_in_cart.price_per_position}}</td>
        <td><a href="{% url 'orders:del-position' book_in_cart.pk %}" class="btn"><i class="bi bi-x-circle"></i></a></td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="2"></td>
        <td>Итоговая стоимость</td>
        <td colspan="2">{{cart.total_price}}</td>
    </tr>
</table>
{% if not cart.books.all %}
<h4>Ваша корзина пуста</h4>
{% else %}
<form action="{% url 'orders:create-order' %}" method="post" >
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success">Сделать заказ</button>
</form>
{% endif %}
{% endblock body %}